In [1]:
from aws_sql_helper import *
import json

In [2]:
# connect to the database
aws_host, aws_port, aws_user, aws_password, aws_database = load_aws_connection_properties()
connection, cursor = connect_to_aws(aws_host, aws_port, aws_user, aws_password, aws_database)

In [3]:
# # creating a table
# table_name = 'test_inventory'
# column_names = ['id', 'item_title', 'price']
# column_data_types = ['INT', 'VARCHAR(255)', 'FLOAT']
# create_table(connection, cursor, table_name, column_names, column_data_types)

In [5]:
# # creating a table
# table_name = 'dummy_historical_data'
# column_names = ['Price', 'CPU', 'RAM', 'Storage', 'HDD_SSD']
# columns_data_types = ['FLOAT', 'TEXTs', 'INT', 'INT', 'TEXT']
# create_table(connection, cursor, table_name, column_names, columns_data_types)

CREATE TABLE IF NOT EXISTS dummy_historical_data (Price FLOAT, CPU TEXT, RAM INT, Storage INT, HDD_SSD TEXT)
Table created successfully.

In [3]:
# table_name = 'leaderboard'
# column_names = ['username', 'solved_problems', 'number_of_solved_problems']
# columns_data_types = ['TEXT', 'TEXT', 'INT']
# create_table(connection, cursor, table_name, column_names, columns_data_types)

CREATE TABLE IF NOT EXISTS leaderboard (username TEXT, solved_problems TEXT, number_of_solved_problems INT)
Table created successfully.

In [3]:
get_column_names(cursor, 'leaderboard')

['username', 'solved_problems', 'number_of_solved_problems']

In [ ]:
# delete_table('example_table')

In [7]:
# solved_problems = ['koko_eating_bana', 'binary_search', 'contains_duplicate']
# serialized_array = json.dumps(solved_problems)

# add_entry_to_table(
#     connection,
#     cursor,
#     'leaderboard',
#     ['geoff', serialized_array, '16']
# )

Entry added successfully.

In [9]:
get_column_names(cursor, 'leaderboard')

['username', 'solved_problems', 'number_of_solved_problems']

In [8]:
remove_column(connection, cursor, 'leaderboard', 'average_time')

An error occurred: (1091, "Can't DROP 'average_time'; check that column/key exists")

In [5]:
retrieve_all_rows(cursor, 'leaderboard')

(('geoff',
  '["koko_eating_bana", "binary_search", "contains_duplicate"]',
  16,
  None),
 ('nnt', "['binary_search']", 1, None),
 ('christo', "['binary_search', 'contains_duplicate']", 2, None),
 ('albert', "['binary_search', 'contains_duplicate']", 2, None),
 ('funny_donut', "['koko_eating_bananas']", 1, None))