In [1]:
from aws_sql_helper import *
import ast
import json

In [2]:
try:

    aws_credentials_object = create_AWS_credentials_object()

    try:
        connection, cursor = connect_to_aws(aws_credentials_object)
        print("DATABASE CONNECTED TO AWS")
        connection_successful = True
        connection.close()

    except Exception as e:
        print("DATABASE CANNOT CONNECT TO AWS")
        print("ENCOUNTERED THE FOLLOWING EXCEPTION:\n", e)

except Exception as e:
    print("DATABASE CANNOT CREATE CREDENTIALS OBJECT.\nCheck if the relevant .env file exist.")
    print("ENCOUNTERED THE FOLLOWING EXCEPTION:\n", e)

FROM CONNECT_TO_AWS
HOST: algorithm-arena-data.cwyl09slg4ph.us-east-2.rds.amazonaws.com
PORT: 3306
USER: aa_admin_nnt
PASSWORD: WACp4cGqb9b33Qx
DATABASE NAME: algorithm_arena
DATABASE CONNECTED TO AWS

In [3]:
get_tables_names(aws_credentials_object)

FROM CONNECT_TO_AWS
HOST: algorithm-arena-data.cwyl09slg4ph.us-east-2.rds.amazonaws.com
PORT: 3306
USER: aa_admin_nnt
PASSWORD: WACp4cGqb9b33Qx
DATABASE NAME: algorithm_arena

['leaderboard', 'problems', 'user_logins']

In [4]:
get_column_names(aws_credentials_object, "leaderboard")

FROM CONNECT_TO_AWS
HOST: algorithm-arena-data.cwyl09slg4ph.us-east-2.rds.amazonaws.com
PORT: 3306
USER: aa_admin_nnt
PASSWORD: WACp4cGqb9b33Qx
DATABASE NAME: algorithm_arena

['username', 'solved_problems', 'number_of_solved_problems']

In [5]:
leaderboard = get_table_sorted_by(
    cursor = cursor,
    table_name = "leaderboard",
    sort_column = "number_of_solved_problems")

In [12]:
leaderboard[:2]

(('albert', "['binary_search', 'contains_duplicate', 'two_sum']", 3),
 ('geoff',
  "['binary_search', 'contains_duplicate', 'koko_eating_bananas']",
  3))

In [14]:
leaderboard[0][2]

3

In [3]:
# table_name = 'problems'
# column_names = ['problem']
# columns_data_types = ['TEXT']
# create_table(connection, cursor, table_name, column_names, columns_data_types)

CREATE TABLE IF NOT EXISTS problems (problem TEXT)
Table created successfully.

In [6]:
get_column_names(cursor, 'user_logins')

['username', 'password']

In [6]:
get_a_column_data_type(cursor, 'user_logins', 'username')

'varchar(255)'

In [7]:
rename_column(connection, cursor, 'user_logins', 'username', 'user_name')

Query: ALTER TABLE `user_logins` CHANGE `username` `user_name` varchar(255)
Column 'username' renamed to 'user_name' successfully in the table 'user_logins'.

In [8]:
get_column_names(cursor, 'user_logins')

['user_name', 'password']

In [11]:
# delete_table('example_table')

In [12]:
# solved_problems = ['koko_eating_bana', 'binary_search', 'contains_duplicate']
# serialized_array = json.dumps(solved_problems)

# add_entry_to_table(
#     connection,
#     cursor,
#     'leaderboard',
#     ['geoff', serialized_array, '16']
# )

In [13]:
get_column_names(cursor, 'leaderboard')

['username', 'solved_problems', 'number_of_solved_problems']

In [14]:
remove_column(connection, cursor, 'leaderboard', 'average_time')

In [3]:
retrieve_all_rows(cursor, 'problems')

(('binary_search',),
 ('contains_duplicate',),
 ('koko_eating_bananas',),
 ('longest_turbulent_subarray',),
 ('maximum_subarray',),
 ('two_sum',),
 ('valid_palindrome_2',),
 ('valid_palindrome_3',),
 ('valid_palindrome',),
 ('valid_parentheses',))

In [4]:
retrieve_all_rows_of_column(cursor, 'problems', 'problem')

['binary_search',
 'contains_duplicate',
 'koko_eating_bananas',
 'longest_turbulent_subarray',
 'maximum_subarray',
 'two_sum',
 'valid_palindrome_2',
 'valid_palindrome_3',
 'valid_palindrome',
 'valid_parentheses']

In [5]:
len(retrieve_all_rows_of_column(cursor, 'problems', 'problem'))

10

## Leaderboard Feature Example

In [ ]:
solved_problems = get_column2_given_column1(
    cursor = cursor,
    table_name = 'leaderboard',
    column_1 = 'username',
    column_2 = 'solved_problems',
    column_1_val = 'albert'
)

solved_problems

"['binary_search', 'contains_duplicate']"

In [ ]:
# add 'koko_eating_bananas' to the list of solved problems
solved_problems = solved_problems[1:-1]
solved_problems = '[' + solved_problems + ", 'two_sum']"

solved_problems

"['binary_search', 'contains_duplicate', 'two_sum']"

In [ ]:
update_row(connection = connection,
    cursor = cursor,
    table_name = 'leaderboard',
    identifier_column = 'username',
    identifier_value = 'albert',
    edit_column = 'solved_problems',
    new_value = solved_problems
)

Row with username value 'albert' updated successfully.

In [ ]:
update_row(connection = connection,
    cursor = cursor,
    table_name = 'leaderboard',
    identifier_column = 'username',
    identifier_value = 'albert',
    edit_column = 'number_of_solved_problems',
    new_value = 3
)

Row with username value 'albert' updated successfully.

In [ ]:
retrieve_all_rows(cursor, 'leaderboard')

(('geoff', 'null', 4),
 ('nnt', "['binary_search']", 1),
 ('christo', "['binary_search', 'contains_duplicate']", 2),
 ('albert', "['binary_search', 'contains_duplicate', 'two_sum']", 3),
 ('funny_donut', "['koko_eating_bananas']", 1))